﻿@page
@model IndexModel
@{
    ViewData["Title"] = "John Deere Day";
}
@section Scripts {
    <script src="js/index.js"></script>
}
@section Styles {
    <link rel="stylesheet" href="css/index.css"/>
}


<div class="row">
    <div class="col-lg-6 text-center">
        <img src="images/JDLogo.png" width="300px" class="img-fluid" alt="Responsive image">
    </div>
    
    <div class="col-lg-6 text-center">
        <img src="images/ITS.png" width="300px" class="img-fluid" alt="Responsive image">
    </div>
</div>

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 text-center">
        <h1>John Deere Day - ITS</h1>
        <form method="post">
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" class="form-control" id="Name" name="Name" aria-describedby="emailHelp" placeholder="Your name">
                <small class="form-text text-muted">16 characters max. No Special Characters</small>
            </div>
            <div class="form-group">
                <label for="Message">A message</label>
                <input type="text" name="Message" class="form-control" id="Message" placeholder="A messgage">
                <small class="form-text text-muted">16 characters max. No Special Characters</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button><br>
            <small class="form-text text-muted">The message will be automatically deleted after 30sec or when reaching 50.</small>
        </form>
    </div>
    <div class="col-lg-3"></div>
</div>

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 text-center">
        <div id="divMessages">
            
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>